.DS_Store
.idea/
.qoder/
frontend/dist/
frontend/dist-user/
frontend/dist-merchant/
frontend/dist-admin/
frontend/node_modules/
node_modules/
backend/config/conf.go
/frontend/package.json
__debug_bin*